<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.ProductsMapper">
<select id="getCount" resultType="int">
    SELECT COUNT(*)
    FROM products INNER JOIN qualities
    ON products.id=qualities.productId
    <where>
        <if test="productName!=null and productName!=''">
            and productName like concat ('%',#{productName},'%')
        </if>
    </where>
</select>
<select id="getBypage" resultType="com.kgc.pojo.Products">
    SELECT products.*,score
    FROM products INNER JOIN qualities
    ON products.id=qualities.productId
    <where>
        <if test="productName!=null and productName!=''">
            and productName like concat ('%',#{productName},'%')
        </if>
    </where>
    ORDER BY productDate DESC
    LIMIT #{from},#{pageSize}
</select>
</mapper>  